<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
      {{title}}
    </title>
    {% if description %}
      <meta name="description" content="{{description}}"/>
    {% endif %}
    {% block head %}{% endblock %}

    <link rel="stylesheet" type="text/css" href="/static/css/style.css"/>
  </head>
  <body class="bg-yellow-100/25">
    {% include "./partials/colours.html" %}
    {% include "./partials/navbar.html" %}

    <div class="mx-auto max-w-5xl md:grid md:grid-cols-3 md:grid-rows-1 gap-8">
      <div class="col-span-2">
        {{ content | safe }}
      </div>
      <div class="col-start-3">
        {% include "./partials/maillist.html" %}
        {% include "./partials/about.html"}
      </div>
  </div>
      

    {% include "./partials/footer.html" %}
    <div class="fixed bottom-0 min-w-full">{% include "./partials/colours.html" %}</div>
    
    <script src="/static/js/alpine.js"></script>
    <script>
      document.querySelector(".upcoming").classList.add("current");
    </script>
  </body>
</html>