---
layout: default
title: Privacy Policy
path: privacy-policy
---

<div class="container px-2 lg:px-0 mx-auto lg:h-fit flex flex-col">
  <h1 class="text-3xl font-serif text-red-700">Ringwood Anglo Italian Society Data Protection Policy General Data Protection Regulation (GDPR)</h1>
  <p class="text-l mb-2">Ringwood Anglo Italian Society (RAIS) is an established club with the object of bringing together people with a love of all things Italian, and is a data controller within the UK.</p>
  <p class="text-l mb-2">The personal information referred to in this Policy may include name, contact details, service records, records of entries to and photographs taken at club events, and such other information as may be necessary for the effective management of the legitimate interests of RAIS. Any person wishing to verify the information held by the RAIS may apply to the Secretary.</p>
  <p class="text-l mb-2">We do not hold members’ financial details</p>
  <p class="text-l mb-2">RAIS collects and holds personal information about:</p>
  <p class="text-l mb-2">The members of the club.</p>
  <p class="text-l mb-2">This information is used to facilitate administration and services. The information is compiled into a spreadsheet. Club Members’ email addresses may be in committee member’s address books for club purposes.</p>
  <p class="text-l mb-2">Others necessary for the conduct of the business of RAIS.</p>
  <p class="text-l mb-2">This information is used to contact external speakers etc. for the club.</p>
  <p class="text-l mb-2">RAIS may retain historical archives for example but not limited to, records of meetings and schedules of forthcoming events.</p>
  <p class="text-l mb-2">We may collect photos of members and guests taking part in Club events and it is possible that these photos may be posted on Greyfriars Community Centre website and used in press releases and articles to promote Greyfriars Community Centre</p>
  <p class="text-l mb-2">Greyfriars Community Centre also collects and retains CCTV recordings for security purposes. CCTV recordings are shared with the police at their request.</p>
</div>