<div class="w-full flex">
    <div class="h-2 flex-1 bg-red-800">&nbsp;</div>
    <div class="h-2 flex-1 bg-white">&nbsp;</div>
    <div class="h-2 flex-1 bg-green-800">&nbsp;</div>
    <div class="h-2 flex-1 bg-red-800">&nbsp;</div>
    <div class="h-2 flex-1 bg-white">&nbsp;</div>
    <div class="h-2 flex-1 bg-blue-800">&nbsp;</div>
    <div class="h-2 flex-1 bg-red-800">&nbsp;</div>
    <div class="h-2 flex-1 bg-white">&nbsp;</div>
    <div class="h-2 flex-1 bg-green-800">&nbsp;</div>
    <div class="h-2 flex-1 bg-red-800">&nbsp;</div>
    <div class="h-2 flex-1 bg-white">&nbsp;</div>
    <div class="h-2 flex-1 bg-blue-800">&nbsp;</div>
</div>