<div class="mx-auto max-w-5xl md:grid md:grid-cols-4 md:grid-rows-1 gap-8">
    <div>

        <h2 class="text-xl text-red-700 font-bold mb-4">Contact</h2>
        <h3 class="text-green-700 text-l">Secretary - Hazel Dinelli</h3>
        <p class="text-sm mb-4">Email: <a class="text-blue-700 underline" href="mailto:hazeldinelli43@hotmail.com">hazeldinelli43@hotmail.com</a></p>
        
        <h3 class="text-green-700 text-l">Chairman - Terry Turner</h3>
        <p class="text-sm">Telephone: 01425 652691</p>
        <p class="text-sm mb-4">Email: <a class="text-blue-700 underline" href="terry.turner@we2u.co.uk">terry.turner@we2u.co.uk</a></p>
        
        <h3 class="text-green-700 text-l">Greyfriars Community Centre</h3>
        Telephone 01425 472613
    </div>
    <div>
        <h2 class="text-xl text-red-700 font-bold mb-4">How to find us</h2>
        <p class="text-sm">
            <strong>Ringwood and District Community Association</strong></br>
            Greyfriars</br>
            44 Christchurch Road</br>
            Ringwood</br>
            BH34 1DW
        </p>
    </div>
    <div class="col-span-2">
        <div id="google-map">
            <iframe
            src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d2519.267097824521!2d-1.7883430000000002!3d50.844738!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x487397448d201d69%3A0x2a6d7c68f0114012!2sRingwood+%26+District+Community+Association!5e0!3m2!1sen!2suk!4v1405436492213"
            width="100%"
            height="100%"
            frameborder="0"
            style="border: 0"
            class="w-full h-[240px]"
            ></iframe>
        </div>
    </div>
</div>
<footer class="text-center w-full py-4 mb-2 mt-8 bg-yellow-100/50">
    <p class="text-yellow-950 text-sm">Copyright ©
        {{settings.name}}
        {% currentYear %}
    </p>
</footer>
