<div class="w-full">
  <nav class="flex flex-row max-w-5xl mx-auto justify-between flex-wrap p-6 lg:px-0 container mx-auto">
    <!--Logo etc-->
    <div class="logo">
      <a href="/" class="font-serif italic lg:text-2xl">
        <img class="w-24 block lg:inline-block" src="/static/img/flags.jpg"> Ringwood Anglo Italian Society
      </a>
    </div>
    <!--Menu-->
    <div class="flex sm:w-auto justify-end">
    {% if navigation.items %}
      <ul class="pt-6 lg:pt-0 list-reset flex flex-1 items-center">
      {% for item in navigation.items %}
        <li class="nav__item mr-3">
          <a class="underline text-ml inline-block text-gray-500 hover:text-indigo-500 py-2 md:px-4" href="{{ item.url }}">{{ item.text }}</a>
        </li>
      {% endfor %}
      </ul>
    {% endif %}
    </div>
  </nav>
</div>
